<div>
    <div>
    <h1 class="text-center" style="color:white;">Welcome <%= name %></h1>
    <a class="btn" href="/logout" style="color:white;background-color: red;">Log Out</a>
    </div>
</div>