* {box-sizing: border-box}

body{
  background:url('./img/imgLogin3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:70% 100%;
  background-position:120% 50%;
  
}

/* Bordered form */
form {

  width:450px;
  margin: 50px 100px;
  border: 3px solid black;
  border-radius:10px;
  color:black;
  box-shadow: 1px 1px 5px rgb(163, 163, 163);
  padding:10px;
 
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  outline:none;
  color: black;
}

/* Set a style for all buttons */
div > .loginBtn {
  border:none;
  background: none;
  font-size: .9rem;
  font-weight: bold;
  border-bottom: 2px solid #1daf00;
  color: #51e933;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  outline: none;
}

.container{
  border-radius: 10px;
  padding:10px;
}
.container .signUpbtn{
  border-radius: 5px;
  color:white;
}
/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.signUpbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #1daf00;
  border:none;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 20%;
  border-radius: 50%;

}

/* Add padding to containers */
.formContainer {
  padding: 5px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .signUpbtn {
    width: 100%;
  }
}
