* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  background:url('./img/loginPageImg1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 200%;
  
}

.card{
  height:auto;
  max-width:450px;
  margin-top: 2rem;
  background-color: rgba(170, 170, 170, 0.795);
  border: 1px solid black;
  box-shadow: 3px 1px 10px rgb(141, 141, 141);
  background: transparent;
}

.text{
  margin-bottom: 3rem;
}


div label{
  font-size: .9rem;
}

.card p{
  font-size: 1rem;
}

@media (max-width:900px){
  body{
    background-image:url('./img/loginPageImg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text{
    color:white;
  }
  div label{
    color:white;
  }
  .card p{
    color:white;
  }
}